In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

df = pd.read_csv("heart.csv")
df.rename(columns = {"ChestPain" : "Chest pain", "RestBP" : "Rest BP", "RestECG" : "Rest ECG" }, inplace = True)	
df.rename(columns = {"MaxHR" : "Max HR", "ExAng" : "Ex Ang", "Oldpeak" : "Old Peak"}, inplace = True)
# renamed columns for ease
df.describe()

,Age,Sex,Rest BP,Chol,Fbs,Rest ECG,Max HR,Ex Ang,Old Peak,Slope,Ca,Target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.438944,0.679868,131.689769,246.693069,0.148515,0.990099,149.607261,0.326733,1.039604,1.600660,0.686469,0.458746
std,9.038662,0.467299,17.599748,51.776918,0.356198,0.994971,22.875003,0.469794,1.161075,0.616226,0.947661,0.499120
min,29.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,1.000000,0.000000,0.000000
25%,48.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,0.000000
50%,56.000000,1.000000,130.000000,241.000000,0.000000,1.000000,153.000000,0.000000,0.800000,2.000000,0.000000,0.000000
75%,61.000000,1.000000,140.000000,275.000000,0.000000,2.000000,166.000000,1.000000,1.600000,2.000000,1.000000,1.000000
max,77.000000,1.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,3.000000,3.000000,1.000000

In [31]:
df[["Chol", "Rest BP", "Max HR", "Old Peak" ]].median()

Chol        241.0
Rest BP     130.0
Max HR      153.0
Old Peak      0.8
dtype: float64

In [35]:
df["Thal"].value_counts()
# deciding the mode to fill NaN values

Thal
normal        168
reversable    117
fixed          18
Name: count, dtype: int64

In [ ]:
df[df.isna().any(axis=1)] # found rows with NaN values

,Age,Sex,Chest pain,Rest BP,Chol,Fbs,Rest ECG,Max HR,Ex Ang,Old Peak,Slope,Ca,Thal,Target
87,53,0,nonanginal,128,216,0,2,115,0,0.0,1,0,NaN,0
266,52,1,asymptomatic,128,204,1,0,156,1,1.0,2,0,NaN,1

In [23]:
df.loc[87, "Thal"] = "normal"
df.loc[266, "Thal"] = "normal"
df[df.isna().any(axis=1)]
# replaced all missing values with the mode

Empty DataFrame
Columns: [Age, Sex, Chest pain, Rest BP, Chol, Fbs, Rest ECG, Max HR, Ex Ang, Old Peak, Slope, Ca, Thal, Target]
Index: []

In [34]:
df[df.duplicated()]
# no duplicated rows

Empty DataFrame
Columns: [Age, Sex, Chest pain, Rest BP, Chol, Fbs, Rest ECG, Max HR, Ex Ang, Old Peak, Slope, Ca, Thal, Target]
Index: []

In [ ]:
columns = df.select_dtypes(include=['number']).columns

for column in columns:
    plt.figure(figsize=(8, 3)) # Adjust figure size for compactness
    sns.boxplot(x=df[column])
    plt.title(f'Outliers in: {column}')
    plt.show()

In [ ]:
columns = ['Rest BP', 'Chol', 'Max HR', 'Old Peak']
for column in columns:
    print("outliers for: ", column)
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    LowerBound = Q1 - 1.5 * IQR
    UpperBound = Q3 + 1.5 * IQR
    outliers = df[(df[column] < LowerBound) | (df[column] > UpperBound)]
    print(outliers)

outliers for:  Rest BP
     Age  Sex    Chest pain  Rest BP  Chol  Fbs  Rest ECG  Max HR  Ex Ang  \
14    52    1    nonanginal      172   199    1         0     162       0
83    68    1    nonanginal      180   274    1         2     150       1
126   56    0  asymptomatic      200   288    1         2     133       1
172   59    0  asymptomatic      174   249    0         0     143       1
183   59    1       typical      178   270    0         2     145       0
188   54    1    nontypical      192   283    0         2     195       0
201   64    0  asymptomatic      180   325    0         0     154       1
213   66    0  asymptomatic      178   228    1         0     165       1
231   55    0  asymptomatic      180   327    0         1     117       1

     Old Peak  Slope  Ca        Thal  Target
14        0.5      1   0  reversable       0
83        1.6      2   0  reversable       1
126       4.0      3   2  reversable       1
172       0.0      2   0      normal       1
183       4.2      3   0  reversable       0
188       0.0      1   1  reversable       1
201       0.0      1   0      normal       0
213       1.0      2   2  reversable       1
231       3.4      2   0      normal       1
outliers for:  Chol
     Age  Sex    Chest pain  Rest BP  Chol  Fbs  Rest ECG  Max HR  Ex Ang  \
48    65    0    nonanginal      140   417    1         2     157       0
121   63    0  asymptomatic      150   407    0         2     154       0
152   67    0    nonanginal      115   564    0         2     160       0
173   62    0  asymptomatic      140   394    0         2     157       0
181   56    0  asymptomatic      134   409    0         2     150       1

     Old Peak  Slope  Ca        Thal  Target
48        0.8      1   1      normal       0
121       4.0      2   3  reversable       1
152       1.6      2   0  reversable       0
173       1.2      2   0      normal       0
181       1.9      2   2  reversable       1
outliers for:  Max HR
     Age  Sex    Chest pain  Rest BP  Chol  Fbs  Rest ECG  Max HR  Ex Ang  \
245   67    1  asymptomatic      120   237    0         0      71       0

     Old Peak  Slope  Ca    Thal  Target
245       1.0      2   0  normal       1
outliers for:  Old Peak
     Age  Sex    Chest pain  Rest BP  Chol  Fbs  Rest ECG  Max HR  Ex Ang  \
91    62    0  asymptomatic      160   164    0         2     145       0
123   55    1  asymptomatic      140   217    0         0     111       1
183   59    1       typical      178   270    0         2     145       0
191   51    1  asymptomatic      140   298    0         0     122       1
285   58    1  asymptomatic      114   318    0         1     140       0

     Old Peak  Slope  Ca        Thal  Target
91        6.2      3   3  reversable       1
123       5.6      3   0  reversable       1
183       4.2      3   0  reversable       0
191       4.2      2   3  reversable       1
285       4.4      3   3       fixed       1

In [7]:
columns = ['Rest BP', 'Chol', 'Max HR', 'Old Peak']
for column in columns:
    print( column)
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    LowerBound = Q1 - 1.5 * IQR
    UpperBound = Q3 + 1.5 * IQR
    outliers = (df[column] < LowerBound) | (df[column] > UpperBound)
    median = df[column].median()
    df.loc[outliers, column] = median
    print(LowerBound)
    print(UpperBound)



# this loop replaces each outlier in each column
# with the median for each column

Rest BP
90.0
170.0
Chol
118.0
366.0
Max HR
92.25
210.25
Old Peak
-2.4000000000000004
4.0

In [8]:
df.to_csv("new heart dataframe.csv", index = False)
# saves new dataframe